@import "_variables.scss";

.elegirnos {
    .container-fluid {
        background-color: $whitish-color;
    }

    .razones {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        height: 370px;
        width: 300px;
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: $light-color;

        h6 {
            text-transform: uppercase;

        }

        img {
            height: 230px;
        }

        p {
            color: $text-black-color;
        }
    }

    .card:hover {
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

    }
}