$logo-color: rgb(72, 63, 86);
$light-color: rgb(229, 223, 255);
$accent-color: rgb(48, 45, 60);
$vlight-purple-color: #f2efff;
$whitish-color: rgb(244, 244, 244);
$text-black-color: rgb(20, 20, 20);

$font-noto: 'Noto Sans',
sans-serif;
$font-maven: 'Maven Pro',
sans-serif;